html {
    font-size: 20px;
    scroll-behavior: smooth;
}

.languages {
    min-width: 1rem;
    min-height: 1rem;
}

body {
    padding-bottom: 4rem;
    font-family: serif, sans-serif;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 900;
}

.slanted-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%; 
  gap: 3rem; 
  position: relative;
}

.slanted-grid > :first-child {
  margin-left: 2rem;
}

.slanted-grid > :last-child {
  margin-right: 2rem; 
}

.slanted-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px 0px 1px 0px solid #000;
  background-color: #FFFFEB;
  z-index: -12;
  padding: 2rem;
  color: #9B2774;
}

.grid-item {
  padding: 20px;
}

.wave-hand {
  display: inline-block;
  animation: wave 2s ease-in-out 2;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes shinyBorder {
  0% {
    border-color: red;
    border-width: 2px;
  }
  50% {
    border-color: #ff6666; 
    border-width: 4px;
  }
  100% {
    border-color: red;
    border-width: 2px;
  }
}

.animated-border {
  border: 2px solid red;
  border-radius: 50%; 
  animation: shinyBorder 1.5s infinite ease-in-out;
  transition: border-width 0.3s ease, border-color 0.3s ease-out; 
}

.animated-border:hover {
  animation: none; 
  border-width: 4px; 
  border-color: #ff6666; 
}

.text.card.more-info {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-100%);
    transform: translateY(-100%);
    padding: 0.11rem;
    border-radius: 0.25rem;
    background-color: #ffff99; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100000; 
    max-width: 400px;
}

div.more-info > .more-info-body > h2 {
    color: #001a33;
}

div.more-info > .more-info-footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    color: black;
}

.image-container:hover + .popup-container .more-info {
    display: block;
}

.more-info {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.more-info {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover + .popup-container .more-info {
    opacity: 1;
}

.Specialist,
.english-spanish {
  opacity: 1;
  transition: opacity 1s ease-in-out; 
}

.experiences-holder {
    width: 100%;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: stretch; 
}

.experiences-holder::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 5rem;
  bottom: 7.5rem;
  opacity: 0.5;
  width: 2px;
  background-color: #d147a3; 
  z-index: -1;
}


.custom-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.6s ease, transform 1.6s;
}

.text.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
    padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: purple;
    max-width: 400px;
    margin-bottom: 1rem;
}

.text .card-body {
    padding: 0.8rem;
    font-size: 1.1rem;
    color:  #4d0026;
}

.text .card-footer {
    padding: 0.4rem 0.3rem 0.3rem 0.3rem;
    border-top: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: right;
    font-size: 0.9rem;
    color: #555;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text .card-footer:empty {
    display: none;
}

.languages {
    width: 2rem;
    height: 2rem;
    margin: 0.11rem;
}


.custom-list li:nth-child(even) .text.card {
    text-align: left;
}

.custom-list li:nth-child(odd) .text.card {
    text-align: right;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6px) brightness(70%) contrast(150%);
    pointer-events: none;
    z-index: 5;
}

.introduction,
.tech-stack,
.experiences {
    width: 100%;
    margin: 0 auto;
    font-family: serif, sans-serif;
    background-color: #FFFDD0;
    opacity: 0.6;
    margin-bottom: 1px;
    padding: 20px 15px 10px 15px;
    color: #1A0033;
    text-align: center;
}

h1, h2 {
    color: #673267;
}

h2 {
    text-align: center;
}

.tech-stack ol {
    justify-content: center;
    align-items: center;
}

.experiences ol {
    list-style: none;
    padding-left: 0;
}

.custom-list li:nth-child(odd) {
    flex-direction: row;
    transform: translateY(2rem);
}

.custom-list li:nth-child(odd).in-view {
    opacity: 1;
    transform: translateY(0rem) translateX(-10rem);
    transition: opacity 2s ease, transform 2s linear;
}

.custom-list li:nth-child(even).in-view {
    opacity: 1;
    transform: translateY(0rem) translateX(10rem);
    transition: opacity 4s ease, transform 1.6s linear;
}

.custom-list li.build.in-view {
    animation: bounce 4s linear;
}

.custom-list li:nth-child(odd) .text {
    text-align: right;
}

.custom-list li:nth-child(even) {
    flex-direction: row-reverse;
}

.custom-list li:nth-child(even) .text {
    text-align: left;
}

.custom-list li .icon {
    border: 2px black;
    background-color: white;
    border-radius: 50%;
    min-width: 40px; 
    min-height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 20px;
    position: relative;
    z-index: 1; 
}

.bullet1 .icon {
    background-image: url('../images/pacifier.png');
}

.bullet2 .icon {
    background-image: url('../images/read.png');
}

.bullet3 .icon {
    background-image: url('../images/discover.png');
}

.bullet4 .icon {
    background-image: url('../images/think.png');
}

.bullet5 .icon {
    background-image: url('../images/build.png');
}

.bullet5A .icon {
    background-image: url('../images/grad.png');
}

.bullet6 .icon {
    background-image: url('../images/designer.png');
}

.bullet7 .icon {
    background-image: url('../images/learn.png');
}

.bullet8 .icon {
    background-image: url('../images/scraper.png');
}

.bullet9 .icon {
    background-image: url('../images/build.png');
}

.bullet10 .icon {
    background-image: url('../images/contrib.png');
}

.bullet11 .icon {
    background-image: url('../images/web.png');
}

.bullet12 .icon {
    background-image: url('../images/build.png');
}

.footer {
    height: 3.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #FFFDD0;
    padding: 20px;
    font-family: serif, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.65;
}

.footer-copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-social {
    display: flex;
    gap: 1.5rem;
}

.social-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 50%;
}

.vibrate:hover {
    background-color: purple;
    transform: scale(1.05);
    opacity: 0.75;
    animation: vibrate 0.3s ease-in-out;
}

@keyframes vibrate {
    0% { transform: translateX(0) scale(1.1); }   
    25% { transform: translateX(-2px) scale(1.1); }
    50% { transform: translateX(2px) scale(1.1); }
    75% { transform: translateX(-2px) scale(1.1); }
    100% { transform: translateX(0) scale(1.1); }
}

.social-icon:hover {
    background-color: #555;
    border-radius: 30%;
    transform: scale(1.4);
}

mark.alias {
    background: linear-gradient(rgba(156, 46, 135, 0.1), rgba(156, 46, 135, 0.7)) no-repeat;
    background-position: bottom;
    background-size: 100% 45%;
}

mark {
    background: linear-gradient(rgba(156, 46, 135, 0.7), rgba(156, 46, 135, 0.7)) no-repeat;
    background-position: bottom;
    background-size: 100% 55%;
    margin-left: 0.01rem;
}

.devName:hover {
    background-size: 100%;
    font-size: 1.2rem;
    text-shadow: 2px 3px 4px red, -2px -3px 4px blue;
    text-decoration: underline 2px;
    cursor: alias;
}