.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px) brightness(70%) contrast(150%);
  pointer-events: none; 
  z-index: 5;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #FFFDD0;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.footer-copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-social {
    display: flex;
    gap: 30px;
}

.social-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #555;
}

mark {
    background: linear-gradient( rgba(156, 46, 135, 0.7), rgba(156, 46, 135, 0.7)) no-repeat;
    background-position: bottom;
    background-size: 100% 55%;
    margin-left: 0.2em;
}

.devName:hover {
    background-size: 100%;
    font-size: 18px;
    text-shadow: 2px 3px 4px red, -2px -3px 4px blue;
    text-decoration: underline 2px;
}

