body {
    padding-bottom: 60px;
    font-family: serif, sans-serif;
    background-size: cover; 
    background-position: center; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6px) brightness(70%) contrast(150%); 
    pointer-events: none; 
    z-index: 5; 
}

.container,
.tech-stack,
.experiences {
    width: 100%;
    margin: 0 auto;
    font-family: serif, sans-serif;
    background-color: #FFFDD0; 
    opacity: 0.6;
    margin-bottom: 1px;
    padding: 20px 15px 10px 15px;
    color: #1A0033;
    text-align: center;
}

h2 {
    text-align: center;
}

.experiences ol {
    list-style: none;
    padding-left: 0;
}

/* List item animation */
.custom-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.custom-list li.in-view {
    opacity: 1;
    transform: translateY(0);
}

.custom-list li:nth-child(odd) {
    flex-direction: row; 
}

.custom-list li:nth-child(odd) .text {
    text-align: right;
}

.custom-list li:nth-child(even) {
    flex-direction: row-reverse; 
}

.custom-list li:nth-child(even) .text {
    text-align: left;
}

.custom-list li .icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 20px;
}

.bullet1 .icon {
    background-image: url('../images/pacifier.png');
}

.bullet2 .icon {
    background-image: url('../images/read.png');
}

.bullet3 .icon {
    background-image: url('../images/discover.png');
}

.bullet4 .icon {
    background-image: url('../images/think.png');
}

.bullet5 .icon {
    background-image: url('../images/build.png');
}

.bullet6 .icon {
    background-image: url('../images/designer.png');
}

.bullet7 .icon {
    background-image: url('../images/learn.png');
}

.bullet8 .icon {
    background-image: url('../images/scraper.png');
}

.bullet9 .icon {
    background-image: url('../images/build.png');
}

.bullet10 .icon {
    background-image: url('../images/contrib.png');
}

.footer {
    height: 3.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #FFFDD0; 
    padding: 20px;
    font-family: serif, sans-serif; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.65;
}

.footer-copyright p {
    margin: 0; 
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-social {
    display: flex;
    gap: 30px;
}

.social-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 30px; 
    color: white;
    text-decoration: none;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #555;
    width: 32px;
    height: 32px;
    border-radius: 30%;
}

mark {
    background: linear-gradient(rgba(156, 46, 135, 0.7), rgba(156, 46, 135, 0.7)) no-repeat;
    background-position: bottom;
    background-size: 100% 55%;
    margin-left: 0.2em;
}

.devName:hover {
    background-size: 100%;
    font-size: 18px;
    text-shadow: 2px 3px 4px red, -2px -3px 4px blue;
    text-decoration: underline 2px;
}
