.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #f7fafc;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-social {
    display: flex;
    gap: 30px;
}

.social-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #555;
}
